<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ page.dataset }}
    </title>
  </head>

  <body>
    <a href='/'>back to overview</a>
    <h1>{{ page.dataset }}</h1>

    <hr>

    {% assign datasetid = page.dataset | remove: '.' %}
    {% assign item = site.data.dataverse[datasetid].resource %}

    {% assign doi = item.identifier.__text %}

    {% assign authors = '' %}
    {% for creator in item.creators.creator %}
    {% assign authors = authors | append: '; ' | append: creator.creatorName %}
    {% endfor %}
    {% assign authors = authors | remove_first: "; " %}
    
    <table>
      <tr>
        <td>Title</td>
        <td>{{ item.titles.title }}</td>
      </tr>

      <tr>
        <td>Authors</td>
        <td>{{ authors }}</td>
      </tr>

      <tr>
        <td>PublicationDate</td>
        <td>{{ item.publicationYear }}</td>
      </tr>

      <tr>
        <td>Publisher</td>
        <td>Dataverse</td>
      </tr>

      <tr>
        <td>PersistentIdentifier</td>
        <td>{{ doi }}</td>
      </tr>

      <tr>
        <td>PersistentURL</td>
        <td><a href="https://doi.org/{{ doi }}">https://doi.org/{{ doi }}</a></td>
      </tr>
    </table>

    <hr>

  </body>
</html>
