<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ page.dataset }}
    </title>
  </head>

  <body>
    <a href='/'>back to overview</a>
    <h1>{{ page.dataset }}</h1>

    <hr>

    {% assign collid = page.dataset | remove: '.' %}
    {% assign item = site.data.zenodo[collid] %}

    {% assign authors = '' %}
    {% for creator in item.metadata.creators %}
      {% assign authors = authors | append: creator.person_or_org.name | append: '; ' %}
    {% endfor %}
    {% assign authors = authors | split: "" | reverse | join: "" | remove_first: ";" | split: "" | reverse | join: "" %}


    <table>
      <tr>
        <td>Title</td>
        <td>{{ item.metadata.title }}</td>
      </tr>

      <tr>
        <td>Authors</td>
        <td>{{ authors }}</td>
      </tr>

      <tr>
        <td>Description</td>
        <td>{{ item.metadata.description }}</td>
      </tr>

      <tr>
        <td>PublicationDate</td>
        <td>{{ item.metadata.publication_date }}</td>
      </tr>
    </table>

    <hr>

  </body>
</html>
